kind: Deployment
apiVersion: apps/v1
metadata:
  name: recommendationservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
        - name: recommendationservice
          image: "ghcr.io/coendv/group1-recommendationservice:dev"
          ports:
            - containerPort: 8084
              protocol: TCP
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: DB_PORT
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: DB_PASSWORD
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: DATABASE_URL
            - name: PORT
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: PORT
            - name: KEYCLOAK_URL
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: KEYCLOAK_URL
            - name: KEYCLOAK_REALM
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: KEYCLOAK_REALM
            - name: KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: KEYCLOAK_CLIENT_ID
            - name: KEYCLOAK_AUDIENCE
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: KEYCLOAK_AUDIENCE
            - name: COMMUNITY_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: COMMUNITY_SERVICE_URL
            - name: SERVICE_TOKEN
              valueFrom:
                secretKeyRef:
                  name: recommendationservice-secrets
                  key: SERVICE_TOKEN