kind: Deployment
apiVersion: apps/v1
metadata:
  name: recommendationservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
        - name: recommendationservice
          image: "ghcr.io/coendv/group1-recommendationservice:dev"
          ports:
            - containerPort: 8084
              protocol: TCP
          env:
            - name: DB_HOST
              value: recommendationservice-postgresql
            - name: DB_PORT
              value: "5434"
            - name: DB_NAME
              value: recommendationservice
            - name: DB_USER
              value: postgres
            - name: DB_PASSWORD
              value: postgres
            - name: DATABASE_URL
              value: postgresql://postgres:postgres@recommendationservice-postgresql:5434/recommendationservice
