kind: Deployment
apiVersion: apps/v1
metadata:
  name: videoservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: videoservice
  template:
    metadata:
      labels:
        app: videoservice
    spec:
      containers:
        - name: videoservice
          image: "ghcr.io/coendv/group1-videoservice:dev"
          ports:
            - containerPort: 8085
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8085
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8085
              scheme: HTTP
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          env:
            - name: DB_HOST
              value: videoservice-postgresql
            - name: DB_PORT
              value: "5435"
            - name: DB_NAME
              value: videoservice
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: DB_PASSWORD
            - name: DATABASE_URL
              value: postgresql://$(DB_USER):$(DB_PASSWORD)@videoservice-postgresql:5435/videoservice
            - name: MUX_STREAM_HOST
              value: "stream.mux.com"
            - name: MUX_TOKEN_ID
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: MUX_TOKEN_ID
            - name: MUX_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: MUX_TOKEN_SECRET
            - name: MUX_WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: MUX_WEBHOOK_SECRET
            - name: MUX_SIGNING_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: MUX_SIGNING_KEY_ID
            - name: MUX_SIGNING_KEY_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: MUX_SIGNING_KEY_PRIVATE_KEY
            - name: KEYCLOAK_URL
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: KEYCLOAK_URL
            - name: KEYCLOAK_REALM
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: KEYCLOAK_REALM
            - name: KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: KEYCLOAK_CLIENT_ID
            - name: KEYCLOAK_AUDIENCE
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: KEYCLOAK_AUDIENCE
            - name: RECOMMENDATION_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: videoservice-secrets
                  key: RECOMMENDATION_SERVICE_URL
